.tooltip-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.tooltip-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end; /* aligns icon right */
}



.tooltip-box {
  position: absolute;
  right: 0;                 /* ✅ align to right inside card */
  bottom: 130%;
  background: #0d6efd;
  color: #fff;
  // width: 100%;             
   width: 260px;   /* 👈 exact small box like image */
     
  // max-width: 320px;         /* ✅ control size */
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.5;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 0.3s ease;
  z-index: 999;
}



.tooltip-wrapper:hover .tooltip-box {
  opacity: 1;
  visibility: visible;
}




/* ✅ ONLY hover on icon */
.tooltip-wrapper:hover .tooltip-box {
  opacity: 1;
  visibility: visible;
}

.show-more-btn {
  text-align: center;
  margin-top: 10px;

  button {
    background: transparent;
    border: none;
    color: #0d6efd;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}


.oldPrice {
  text-decoration: line-through;
  color: #999;
}


/* 🔴 Only TURBO headings */

.show-more-btn-turbo{
   text-align: center;
  margin-top: 10px;

  button {
    background: transparent;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}


.turboHeading {
  color: #fff;
  margin: 10px 0;
}