.refund-policy {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;


  h3 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #111;
  }

  p {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 14px;
    color: #555;
  }

  strong {
    color: #000;
  }
}